.search_content ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_content ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.search_content ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.search_content ul li a:hover{
    color: #ff7200;
}
.search{
    float: left;
    margin-left: 0px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
::placeholder{
    color: #c5b9b9;
}

@media (max-width: 580px){
    .btn{
        width: 75px;
        height: 30px;
        background: #ff7200;
        border: 2px solid #ff7200;
        color: #fff;
        font-size: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.2s ease;
        cursor: pointer;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 140px;
        height: 30px;
        background: transparent;
        border: 1px solid #ff7200;
        color: #fff;
        border-right: none;
        font-size: 16px;
        float: left;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
  }

  @media (max-width: 380px){
    .btn{
        width: 39px;
        height: 30px;
        background: #ff7200;
        border: 2px solid #ff7200;
        color: #fff;
        font-size: 10px;
        border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.2s ease;
        cursor: pointer;
    }
    .srch{
        font-family: 'Times New Roman';
        width: 82px;
        height: 30px;
        background: transparent;
        border: 1px solid #ff7200;
        color: #fff;
        border-right: none;
        font-size: 10px;
        float: left;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
  }