@charset "utf-8";
body {
    font-family: "Tahoma", sans-serif;
    background: #ffffff;
    color: #000000;
    padding: 0;
}
/* Scroll voltar para inicio */
.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #F77F00;
  position: fixed;
  right: 1px;
  bottom: 1px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all .4s ease;
  border: 1px;
  cursor: pointer;
}
.scroll {
  padding: 0;
  color: white;
}

.scroll-top.active {
  opacity: 1;
  visibility: visible;

}
/* End*/ 

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display:flex;
    font-size: large;
    justify-content: center;
    padding: 100px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }

