.content_light-dark_search {
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    padding: 10px 40px;
    justify-content: space-between;
    background-color: black;
}

/* início */
/* Estilo modo dark e light */

.light-dark_search_background {
    background-color: black;
    width: 100%;
    margin: auto;
}

.content_light-dark_search .light-dark {
    display: flex;
}

.content_light-dark_search .light-dark label {
    width: 125px;
    height: 50px;
    position: relative;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.content_light-dark_search .light-dark label::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.content_light-dark_search .light-dark input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.content_light-dark_search .light-dark input:checked+label {
    background: #242424;
}

.content_light-dark_search .light-dark input:checked+label::after {
    left: 122.5px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.content_light-dark_search .light-dark label:active::after {
    width: 65px;
}

.content_light-dark_search .light-dark input:checked+label+.background {
    background: #242424;
}

.content_light-dark_search .light-dark label svg {
    position: absolute;
    width: 30px;
    top: 10px;
    z-index: 50;
}

.content_light-dark_search .light-dark label svg.sun {
    left: 10px;
    fill: #fff;
    transition: 0.3s;
}

.content_light-dark_search .light-dark label svg.moon {
    left: 85px;
    fill: #7e7e7e;
    transition: 0.3s;
}

@media (max-width: 580px) {
    .content_light-dark_search .light-dark label {
        width: 62.5px;
        height: 25px;
    }

    .content_light-dark_search .light-dark label::after {
        width: 22.5px;
        height: 22.5px;
        top: 1.25px;
        left: 1.25px;
    }

    .content_light-dark_search .light-dark input:checked+label::after {
        left: 61.25px;
    }

    .content_light-dark_search .light-dark label:active::after {
        width: 32.5px;
    }

    .content_light-dark_search .light-dark label svg {
        width: 15px;
        top: 5px;
        z-index: 25;
    }

    .content_light-dark_search .light-dark label svg.sun {
        left: 5px;
    }

    .content_light-dark_search .light-dark label svg.moon {
        left: 42.5px;
    }
}

/* Fim */
/* Estilo modo dark e light */

/* Início */
/* Estilo Search */

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
}

.srch:focus {
    outline: none;
}

@media (max-width: 580px) {
    .btn {
        width: 75px;
        height: 30px;
    }

    .srch {
        width: 140px;
        height: 30px;
    }
}

@media (max-width: 380px) {
    .btn {
        width: 39px;
        font-size: 10px;
    }

    .srch {
        width: 82px;
        font-size: 10px;
    }
}

/* Fim */
/* Estilo Search */