@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

body {
    background-color: black;
    color: aliceblue;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 80%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 80%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.atual {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.atual .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    font-size: 2rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.atual .content {
        transform: translateY(-300px);
    }
}

/* Backgorund Images */
.slide:first-child {
    background: url('../imgs/home/Futebol\ masculino.webp') no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url('../imgs/home/basquete\ masculino.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url('../imgs/home/futebol\ feminino.webp') no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url('../imgs/home/Basquete-Feminino.webp') no-repeat center top/cover;
}



@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.atual .content {
        transform: translateY(-300px);
    }
}

.cadastro {
    align-items: center;
}