/* Notificação */


.popup-doacao {
    display: none;
}

.popup-login {
    display: none;
}

.popup-erro {
    display: none;
}

.popup-sucesso {
    display: none;
}

.notification {
    margin: 10px;
    position: sticky;
    top: 30px;
    left: 100%;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    background: #171717;
    color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
    z-index: 999;
}

.notification-progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #964E00, #F77F00);
    border: inherit;
    animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}