@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Slides */

.slideshow-container {
    position: relative;
    width: 100%;
    height: 80vh;
    /* Ajuste a altura desejada aqui */
    overflow: hidden;
}

.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 18px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}




/* End slides */

/* Noticias */

.section-noticias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0F0F0F;
}

.imgNoticias {
    width: 100%;
}

.feather {
    stroke: #fff;
}

.container-noticias {
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.noticias {
    width: 700px;
    display: grid;
    gap: 5px;
    margin-top: 10px;
    font-size: 10px;
    border-bottom: 1px solid black;
}


.p-cards {
    background-color: #171717;
    max-width: 400px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.textos {
    color: #CCCCCC;
    font-size: 1em;
}

.titulos {
    color: #fff;
    font-size: 1.5em;
}


.p-header_projeto img {
    width: 100%;
    background-color: #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-body_projeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.p-descricao_projeto {
    margin-top: 10px;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



/* end */

.container-agenda {
    width: 300px;
    height: 400px;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    overflow: auto;
    background-color: #171717;
}

.container-agenda p {
    text-align: center;
}
.jogos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid #fff;
    
}
.jogos img {
    width: 30px;
}

.container-agenda::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}


.container-agenda::-webkit-scrollbar-track {
    background: #000000;
    /* color of the tracking area */
}

.container-agenda::-webkit-scrollbar-thumb {
    background-color: #272727;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}




@media (max-width: 900px) {

    .container-noticias {
        grid-template-columns: auto;
    }

    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.atual .content {
        transform: translateY(-300px);
    }
}