@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #D6D2D2;
}



section {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 5%;
    flex-direction: column;
    align-items: center;
    
}

.imgNoticias {
    width: 100%;
}

.noticias {
    width: 700px;
    display: grid;
    gap: 5px;
    margin-top: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,auto);
    font-size: 10px;
    border-bottom: 1px solid black;
}


p {
    flex-direction: column;
}

@media (max-width: 900px) {
    section {
        margin: 1%;
        width: 100%;
    }

    .noticias {
        width: 80%;
    }

}