body {
    background-color: #0F0F0F;
}
/* Scroll voltar para inicio */
.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #F77F00;
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: all .4s ease;
    border: 1px;
    cursor: pointer;
}
.scroll {
    padding: 0;
    color: white;
}

.scroll-top.active {
    opacity: 1;
    visibility: visible;

}
/* End*/ 

.sobre {
    max-width: 1250px;
    margin: auto;
    padding: 50px 40px 25px 40px;
}

.sobre_conteudo {
    background-color: #fff;
}
.sobre div{
    padding-bottom: 25px;
}
.sobre div h1, h2, h3{
    font-size: 1.5rem;
}
.sobre div p{
    font-size: 0.9rem;
}

.sobre div p strong{
    color: #000000;
}